@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  overflow: hidden; 
}

.flip-card-inner {
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  backface-visibility: hidden;
}

.flip-card-back {
  transform: rotateY(180deg);
}

/* Add this to your existing styles or create a new CSS file */

.button {
  padding: 10px;
  font-size: 14px;
  background-color: #af4c95;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button:disabled {
  background-color: #5b104e;
  /* cursor: not-allowed; */
}

.button:hover {
  background-color: #6f45a0;
}

/* Feel free to adjust the styles based on your design preferences */
